body {
  margin: 0;
  height: 100%;
  width: auto;
  background-color: #f4f8ff;
}
.logo img {
  width: 90px;
  height: 50px;
  display: flex;
  float: right;
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0;
}

.banner .clock {
  margin: 0;
  color: #361b11;
  display: flex;
  font-size: 16px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner .clock p {
  margin: 0;
  background-color: #ffdb0c;
  border: #ffdb0c;
  border-radius: 5px;
  padding: 5px;
}

.user {
  width: 30px;
  height: 30px;
  z-index: 1;
  background-color: #ffdb0c;
  border-radius: 15px;
  display: flex;
  position: relative;
  top: -180px;
  left: 20px;
}

.lineone {
  border-bottom: 1px solid #abb2bf8e;
  position: relative;
  top: 15px;
  width: 90%;
  padding: 0;
  outline: none;
  margin: 0px 0px -10px 0px;
  left: 5%;
  z-index: 1;
}
.linetwo {
  border-bottom: 1px solid #abb2bf8e;
  position: relative;
  top: 110px;
  width: 90%;
  padding: 0;
  outline: none;
  margin: 0px 0px -10px 0px;
  left: 5%;
  z-index: 1;
}

.banner {
  background-image: url("/Banner/franki-chamaki-ivfp_yxZuYQ-unsplash\ copy.jpg");
  height: 200px;
  padding: 0px;
  border: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  z-index: 0;
}

/* menu */
.megaMenu {
  z-index: 0;
}

.btn {
  width: 85px;
  height: 30px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 60px;
  display: flex;
  float: left;
  align-items: center;
  position: relative;
  left: 10px;
  bottom: -132px;
  background: #b06621;
  color: #361b11;
  margin: 0px 0px -20px 0px;
  z-index: 0;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #361b11;
}

.btn .icon {
  position: absolute;
  height: 20px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(0px);
}

.btn:hover .icon {
  width: 115px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.dasteBandi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 280px 0px 10px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
}

.dasteBandi img {
  width: 50px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.box {
  background-color: #cde66c;
  width: 100px;
  height: 100px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  float: left;
  margin: 10px;
}
.box:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
  .btn {
    bottom: -127px;
  }
}

@media screen and (min-width: 1201px) {
  .dasteBandi {
    width: 90%;
    left: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .dasteBandi {
    width: 100%;
  }

  .btn {
    bottom: -127px;
  }
}

@media screen and (max-width: 600px) {
  .dasteBandi {
    width: 100%;
  }

  .searchArea .inputBox_container {
    width: 70%;
  }

  .btn {
    bottom: -132px;
  }
}

@media screen and (max-width: 400px) {
  .dasteBandi {
    width: 100%;
  }

  .searchArea .inputBox_container {
    width: 50%;
  }
}

/* searchbar */

.searchArea .inputBox_container {
  width: 260px;
  position: relative;
  right: 10px;
  top: -72.5px;
}

.inputBox_container {
  display: flex;
  align-items: center;
  flex-direction: row;

  height: 30px;
  background-color: #b06621;
  border-radius: 0.6em;
  overflow: hidden;
  position: relative;
  bottom: 45px;
  float: right;
}

.search_icon {
  height: 1em;
  padding: 0 0.5em 0 0.8em;
  fill: #361b11;
}

.inputBox {
  background-color: transparent;
  color: #361b11;
  outline: none;
  width: 100%;
  border: 0;
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 0.9em;
}

::placeholder {
  color: #361b11;
}

/* slider */

.wrapper {
  display: flex;
  justify-content: center;
  width: 87.5%;
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b06621;
  padding: 10px;
  border: 4px solid #b06621;
  border-radius: 10px;
  margin: 0px 0px -220px 0px;
}
.wrapper i {
  top: 50%;
  height: 40px;
  width: 40px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: -20px;
  display: none;
}
.wrapper i:last-child {
  right: -20px;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 200px;
  width: 270px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  border-radius: 10px;
  width: calc(100% / 5);
}
.carousel img:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: calc(100% / 2);
  }

  .wrapper {
    width: 80%;
    top: 360px;
  }
}

/*SLIDER 2*/

.wrapperTwo {
  display: flex;
  justify-content: center;
  width: 87.5%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffdb0c;
  border: 4px solid #ffdb0c;
  padding: 10px;
  border-radius: 10px;
  margin: 140px 0px -220px 0px;
}
.wrapperTwo i {
  top: 50%;
  height: 40px;
  width: 40px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapperTwo i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapperTwo i:hover {
  background: #f2f2f2;
}
.wrapperTwo i:first-child {
  left: -12px;
  display: none;
}
.wrapperTwo i:last-child {
  right: -12px;
}
.wrapperTwo .carouselTwo {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carouselTwo.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carouselTwo.dragging img {
  pointer-events: none;
}
.carouselTwo img {
  height: 200px;
  width: 270px;
  border-radius: 10px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 5);
}
.carouselTwo img:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carouselTwo img {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 550px) {
  .carouselTwo img {
    width: calc(100% / 2);
  }

  .wrapperTwo {
    width: 80%;
  }
}

/* hover */

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: #ffdb0c;
  border: #ffdb0c;
  border-radius: 10px;
  height: 820px;
  justify-content: center;
  /* margin: 20px auto 20px auto; */
  margin-left: 10px;
  margin-right: 10px;
}

.cards .red {
  background-image: url(/Banner/gemma-stpjHJGqZyw-unsplash.jpg);
  background-size: cover;
}

.cards .blue {
  background-image: url(/Banner/tara-clark-Gk8LG7dsHWA-unsplash.jpg);
  background-size: cover;
}

.cards .green {
  background-image: url(/Banner/eduardo-soares-QsYXYSwV3NU-unsplash.jpg);
  background-size: cover;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 320px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  position: relative;
  top: 40px;
}

.cards .card p.tip {
  font-size: 1.4em;
  font-weight: 700;
  outline: #0d1117;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.05, 1.05);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

@media screen and (min-width: 1200px) {
  .cards {
    height: 260px;
    gap: 100px;
  }
  .cards .red {
    position: relative;
    top: 30px;
  }
  .cards .blue {
    position: relative;
    top: 30px;
  }
  .cards .green {
    position: relative;
    top: 30px;
  }
}

@media screen and (max-width: 300px) {
  .cards {
    height: 500px;
    gap: 30px;
  }
}

/*texts*/

.sologan {
  color: #f4f6fa;
  z-index: 3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 120px;
  text-align: center;
  margin: 0px;
  display: flex;
  left: 80px;
  position: relative;
  top: 70px;
  left: 10px;
}

.sologan p {
  margin: 0px;
}

.sologan_one {
  color: #f4f6fa;
  z-index: 3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 120px;
  text-align: center;
  margin: 0px;
  display: flex;
  float: right;
  left: 60px;
  position: relative;
  top: 30px;
  display: none;
}

.userlog a {
  color: #ffdb0c;
  z-index: 3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  position: relative;
  width: 120px;
  text-align: center;
  margin: 0px;
  display: flex;
  left: 60px;
  top: 28px;
  text-decoration: none;
}

.zoodfood {
  font-size: 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .zoodfood {
    font-size: 40px;
    top: 105px;
  }

  .sologan_one {
    font-size: 14px;
    top: 20px;
  }

  .sologan {
    font-size: 14px;
  }

  .searchArea .inputBox_container {
    width: 500px;
    position: relative;
    right: 10px;
    top: -72.5px;
  }

  @media screen and (max-width: 600px) {
    .userlog a {
      font-size: 8px;
    }
  }
}
/*usermen*/

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262c;
}

.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px;
}

/*product card two*/

.productTwo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 260px;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.pro_card_eleven,
.pro_card_twelve,
.pro_card_thirteen,
.pro_card_fourteen,
.pro_card_fifteen,
.pro_card_sixteen,
.pro_card_seventeen,
.pro_card_eightteen,
.pro_card_nineteen,
.pro_card_twenty {
  width: 190px;
  height: 280px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img-el {
  background-color: #eaf291;
  background: url(/Product/woodford-reserve-double-oaked-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-tw {
  background-color: #eaf291;
  background: url(/Product/gentleman-jack-3rd-generation-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-thi {
  background-color: #eaf291;
  background: url(/Product/gentleman-jack-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-fou {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-100-proof-bottled-in-bond-tennessee-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-fif {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-bonded-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-si {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-no-27-gold-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-sev {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-single-barrel-cask-21-07906-master-of-malt-exclusive-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-eig {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-single-barrel-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-nin {
  background-color: #eaf291;
  background: url(/Product/jack-daniels-triple-mash-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-twe {
  background-color: #eaf291;
  background: url(/Product/woodford-reserve-kentucky-bourbon-whiskey\ copy.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img-el:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-tw:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-thi:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-fou:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-fif:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-si:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-sev:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-eig:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-nin:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-twe:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffdb0c;
  background-color: #ffdb0c;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.pro_card_one,
.pro_card_two,
.pro_card_three,
.pro_card_four,
.pro_card_five,
.pro_card_six,
.pro_card_seven,
.pro_card_eight,
.pro_card_nine,
.pro_card_ten {
  width: 190px;
  height: 280px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img-one {
  background-color: #eaf291;
  background: url(/Product/abalone-1680118642.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img-two {
  background-color: #eaf291;
  background: url(/Product/anchovies-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img-three {
  background-color: #eaf291;
  background: url(/Product/catfish-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-four {
  background-color: #eaf291;
  background: url(/Product/caviar-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-five {
  background-color: #eaf291;
  background: url(/Product/clams-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-six {
  background-color: #eaf291;
  background: url(/Product/cod-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-seven {
  background-color: #eaf291;
  background: url(/Product/crab-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-eight {
  background-color: #eaf291;
  background: url(/Product/lobster-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-nine {
  background-color: #eaf291;
  background: url(/Product/octopus-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img-ten {
  background-color: #eaf291;
  background: url(/Product/shrimp-1680118642.webp);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/

.card-img-one:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-two:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-three:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-four:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-five:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-six:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-seven:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-eight:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-nine:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-img-ten:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #eaf291;
  background-color: #eaf291;
}

/*app*/
.app {
  width: 100%;
  height: 17.5%;
  position: fixed;
  left: 0px;
  bottom: -20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px #0d1117;
  border: 1px solid rgba(0, 0, 0, 0.27);
  z-index: 5;
}

.app .home img {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  float: right;
  right: 60px;
  top: 30px;
}

.app .home span {
  color: #361b11;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  float: right;
  top: 75px;
  right: 15px;
}

.app .cat img {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50px;
}

.app .cat span {
  color: #361b11;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 82.5px;
}

.app .basket img {
  width: 45px;
  height: 45px;
  display: flex;
  position: relative;
  float: left;
  left: 60px;
  top: 30px;
}

.app .basket span {
  color: #361b11;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  float: left;
  left: 15px;
  top: 75px;
}

@media screen and (min-width: 600px) {
  .app {
    width: 0px;
    height: 0px;
  }
}

/*footer*/

.footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 500px;
  border: 1px solid #0d11173f;
  margin-top: 750px;
  z-index: -1;
}

.footer .footericon {
  display: flex;
  gap: 35px;
  position: relative;
  top: 60px;
  justify-content: center;
  z-index: 0;
}

.footer .discount {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.289);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

.footer .discount img {
  width: 40px;
  height: 40px;
}

.footer .about {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.289);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

.footer .about img {
  width: 40px;
  height: 40px;
}

.footer .deliver {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.289);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

.footer .deliver img {
  width: 40px;
  height: 40px;
}

.footer .shopping {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.289);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

.footer .shopping img {
  width: 40px;
  height: 40px;
}

.footer span {
  position: relative;
  top: 80px;
  left: 30px;
}

.footertext {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  gap: 20px;
  float: right;
  right: 40px;
  margin-right: 20px;
}

.footertext .sp1,
.footertext .sp2,
.footertext .sp3,
.footertext .sp4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 50px;
}

.footertext .sp1 {
  left: -40px;
}

.footertext .sp2 {
  left: -13px;
}

.footertext .sp3 {
  left: 13px;
}

.footertext .sp4 {
  left: 40px;
}

@media screen and (min-width: 500px) {
  .footer .footericon {
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
    right: 10px;
    margin-top: -30px;
  }

  .footertext {
    display: flex;
    flex-direction: column;
    float: right;
    right: 10px;
    gap: 60px;
    top: -30px;
  }

  .footertext .sp1,
  .footertext .sp2,
  .footertext .sp3,
  .footertext .sp4 {
    left: 0px;
  }
}

/*footer text*/

.department {
  display: flex;
  float: left;
  flex-direction: column;
  text-align: left;
  gap: 4px;
  font-family: Geneva, Tahoma, sans-serif;
  margin: 60px 0px -60px 60px;
  left: 100px;
}

.department p {
  font-size: 20px;
}

.department a {
  text-decoration: none;
  color: gray;
}

.moreDepartments {
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
  gap: 4px;
  font-family: Geneva, Tahoma, sans-serif;
  position: relative;
  left: 100px;
  margin-top: 62px;
  justify-content: center;
}

.moreDepartments p {
  font-size: 20px;
}

.moreDepartments a {
  text-decoration: none;
  color: gray;
}

.knowUs {
  display: flex;
  float: right;
  text-align: left;
  gap: 4px;
  right: 100px;
  flex-direction: column;
  position: relative;
  font-family: Geneva, Tahoma, sans-serif;
  margin: 67px 0px -60px 0px;
}

.knowUs p {
  font-size: 20px;
}

.knowUs a {
  text-decoration: none;
  color: gray;
}

.topcities {
  display: flex;
  position: relative;
  float: right;
  text-align: left;
  gap: 4px;
  flex-direction: column;
  font-family: Geneva, Tahoma, sans-serif;
  right: 260px;
  margin-top: 65px;
}
.topcities p {
  font-size: 20px;
}

.topcities a {
  text-decoration: none;
  color: gray;
}

.footer .copyRight {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  top: 480px;
  left: 115px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.footerLogo {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 8000px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px 0px -60px 0px;
}

@media screen and (min-width: 1200px) {
  .footerLogo {
    top: 3960px;
  }
}

/*download app*/

.appstore {
  display: flex;
  position: relative;
  float: right;
  top: 420px;
  left: 360px;
}

.appstore img {
  height: 50px;
  width: 150px;
}

.playstore {
  display: flex;
  position: relative;
  float: right;
  top: 420px;
  right: -380px;
}

.playstore img {
  height: 50px;
  width: 150px;
}

/*Social media*/

.container {
  position: relative;
  float: left;
  width: 300px;
  top: 350px;

  /*  choose your size */
  display: flex;
  flex-wrap: wrap;
  float: left;
  left: -340px;
  gap: 10px;
  margin: 0px 0px 0px 0px;
}

.container button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ffdb0c;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.container button:nth-child(1):hover {
  background-color: #2753a7;
}

.container button:nth-child(2):hover {
  background-color: #cd242b;
}

.container button:nth-child(3):hover {
  background-color: #55acee;
}

.container button:nth-child(4):hover {
  background-color: #0274b3;
}

.title {
  color: #ffdb0c;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: 40px;
  left: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 390px) {
  .container {
    top: 300px;
    left: 80px;
  }

  .title {
    left: 65px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    top: 320px;
    left: 140px;
  }
}

/*cate*/

.cater {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  position: relative;
  top: 300px;
}

.cateone {
  box-sizing: border-box;
  width: 42.5%;
  height: 254px;
  background: url(/Slider/asparagus-1.jpg);
  background-size: cover;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.cateone:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.cateone:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.catetwo {
  box-sizing: border-box;
  width: 42.5%;
  height: 254px;
  background: url(/Slider/berries-2.jpg);
  background-size: cover;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.catetwo:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.catetwo:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

@media screen and (max-width: 1200px) {
  .cateone,
  .catetwo,
  .catethree,
  .catefour {
    width: 85%;
  }
}

.zoodFoodContext {
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.325);
  background-color: #eaf291;
  height: auto;
  width: 87.5%;
  padding: 20px;
  bottom: -700px;
  border-radius: 4px;
  margin-top: -200px;
  top: 800px;
}

.zoodFoodContext p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 500px) {
  .zoodFoodContext {
    top: 1100px;
    font-size: 6px;
  }
}

@media screen and (max-width: 380px) {
  .zoodFoodContext {
    top: 1340px;
    font-size: 6px;
    margin: -360px 0px -900px 0px;
  }

  .footer {
    margin-top: 1600px;
  }
}

/*slider khafane*/

@media screen and (max-width: 420px) {
  .topcities {
    display: flex;
    position: relative;
    float: left;
    left: 20px;
    margin: 0;
    top: 140px;
  }
  .topcities p {
    font-size: 13px;
  }
  .topcities a {
    font-size: 10px;
  }

  .knowUs {
    right: 20px;
    margin: 0px;
    top: 107.5px;
  }

  .knowUs p {
    font-size: 13px;
  }

  .knowUs a {
    font-size: 10px;
  }

  .moreDepartments {
    position: relative;
    float: left;
    left: 135px;
    margin: 0;
    top: 290px;
  }

  .moreDepartments p {
    font-size: 13px;
  }

  .moreDepartments a {
    font-size: 10px;
  }

  .department {
    position: relative;
    justify-content: left;
    margin: 0px 0px 0px 0px;
    left: 20px;
    top: 130px;
  }

  .department p {
    font-size: 13px;
  }

  .department a {
    font-size: 10px;
  }

  .footer {
    height: 1000px;
  }

  .footerLogo {
    display: none;
  }

  .footer .copyRight {
    font-size: 8px;
    margin: 0px 0px -100px 0px;
  }

  .appstore {
    margin: 0;
    float: left;
    left: 0px;
    top: 520px;
  }

  .playstore {
    margin: 0;
    float: left;
    left: -45px;
    top: 520px;
  }

  .container {
    float: left;
    justify-content: center;
    left: -25px;
    margin: 0;
  }

  .footer .copyRight {
    float: left;
    font-size: 8px;
    height: 50px;
    left: 25px;
    top: 600px;
    width: 200px;
    margin: 0px 0px -10px 0px;
  }
}

/* @media screen and (max-width:360px) 

{


    .topcities{
        display: flex;
        position: relative;
        float: left;
        left:-205px;
        margin-top: 65px;
    
    }
    .topcities p {
    
        font-size: 13px;
    }
    .topcities a {

        font-size: 10px;
    }
    

    .knowUs {
 
        right:20px;
        margin: 100px 0px -60px 0px;
    
    }
    
    .knowUs p {
    
        font-size: 13px;
    }

    .knowUs a {

        font-size: 10px;
    
    }


    
    



.moreDepartments {
    left: 100px;
    margin-top: 272.5px;
   
}


.moreDepartments p {

    font-size: 13px;
}


.moreDepartments a {

    font-size: 10px;

}


.department{
   
    margin: 100px 0px -60px 30px;
    left: 120px;
}


.department p {

    font-size: 13px;

}

.department a {

    font-size: 10px;

}

.footer {

    height: 1300px;
}


.footerLogo {
    display: none;
}

.footer .copyRight {

    display:none;
}


.appstore {

    position: relative;
    float: right;
    
}

.playstore {

    position: relative;
    float: right;
}

.container {

    justify-content: center;
    top: 100px;
}
} */

/*hamberger menu*/

.menu {
  background-color: #b06621;
  width: 60%;
  height: 100%;
  z-index: 999;
  position: fixed;
  padding: 10px;
  top: -10px;
  border: 1px solid #0d11176e;
  left: -100%;
  overflow-y: scroll;
}

#menu-btn:checked ~ .menu {
  left: 0%;
  transition: all 0.4s ease;
}

#cancel-btn:checked ~ .menu {
  left: -100%;
  transition: all 0.4s ease;
}

.menu::-webkit-scrollbar {
  width: 0px;
}

nav {
  background: #242526;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav .menu {
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .nav-links .cancel-btnn {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.menu .nav-links li {
  list-style: none;
  padding: 12px 0px;
  display: block;
  position: relative;
  top: 30px;
  right: 15px;
}

.menu .nav-links .mobile-item {
  padding: 0px;
  position: relative;
  top: 0px;
  left: -15px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  padding: 8px;
}

.nav-links .mobile-item:hover {
  background-color: #f5f5f5a2;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  padding: 8px;
}

.nav-links a:hover {
  background-color: #f5f5f5a2;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/*about*/

.menu .nav-links .abo {
  display: flex;
  flex-direction: column;
  position: static;
  margin-left: -200px;
  width: 150px;
  height: 4px;
  opacity: 0;
  visibility: hidden;
}

#about:checked ~ .abo {
  opacity: 1;
  visibility: visible;
  width: 150px;
  height: 250px;
  transition: all 0.5s ease;
}

.menu .nav-links .abo li {
  left: 200px;
  margin: 0;
}

.menu .nav-links .abo a {
  font-size: 15px;
}

/*drop down menu*/

.menu .nav-links .dropz {
  display: flex;
  flex-direction: column;
  position: static;
  margin-left: -200px;
  width: 150px;
  height: 4px;
  opacity: 0;
  visibility: hidden;
}

#dropDown:checked ~ .dropz {
  opacity: 1;
  visibility: visible;
  width: 150px;
  height: 250px;
  transition: all 0.5s ease;
}

.menu .nav-links .dropz li {
  left: 200px;
  margin: 0;
}

.menu .nav-links .dropz a {
  font-size: 15px;
}

/*hamburger menu*/
.menu .nav-links .mgmn {
  display: flex;
  flex-direction: column;
  position: static;
  margin-left: -200px;
  width: 150px;
  height: 4px;
  opacity: 0;
  visibility: hidden;
}

#megMenu:checked ~ .mgmn {
  opacity: 1;
  visibility: visible;
  width: 200px;
  height: 250px;
  transition: all 0.5s ease;
}

.nav-links .mgmn li {
  left: 200px;
  margin: 0;
}

.menu .nav-links .mgmn a {
  font-size: 15px;
}

.menu .nav-links .mgmn {
  display: flex;
  flex-direction: column;
  position: static;
  margin-left: -200px;
  width: 150px;
  height: 4px;
  opacity: 0;
  visibility: hidden;
}

.nav-links .mgmn li {
  left: 200px;
  margin: 0;
}

.menu .nav-links .mgmn a {
  font-size: 15px;
}

/**/

.menu .nav-links .loc {
  display: flex;
  flex-direction: column;
  position: static;
  margin-left: -200px;
  width: 150px;
  height: 4px;
  opacity: 0;
  visibility: hidden;
}

#location:checked ~ .loc {
  opacity: 1;
  visibility: visible;
  width: 200px;
  height: 250px;
  transition: all 0.5s ease;
}

.nav-links .loc li {
  left: 200px;
  margin: 0;
  margin-bottom: -8px;
}

.menu .nav-links .loc a {
  font-size: 15px;
}

.menu input {
  display: none;
}
.cancel-btn input {
  display: none;
}

.megaMenu input {
  display: none;
}

/*menu mega*/

.dimenu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 168px;
  background-color: #b06621;
  width: 100%;
  z-index: 99;
  border: 1px solid #00000039;
  height: 60px;
}

.dimenu .nab-links {
  display: inline-flex;
  position: relative;
  justify-content: center;
  top: 15px;
  margin: 0;
}
.nab-links li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px 34px 0px 8px;
  width: 220px;
  height: 50px;
  text-align: center;
}

.nab-links a:hover {
  border-bottom: 5px solid #f4f6fa;
  transition: all 0.3s ease;
}

.nab-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.dropDd {
  display: flex;
  flex-direction: column;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: relative;
  top: 16px;
  left: -142%;
  width: 575%;
  height: 400px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.dropDd li {
  font-size: 20px;
  margin: 0;
  color: #fff;
  width: 140px;
  padding: 18px;
  display: flex;
}

.dropDd li:hover {
  color: #361b11;
}

.nab-links li:hover .dropDd {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}

.dropDd .appetizers {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -1px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}

.dropDd .appetizers li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.appetizers li:hover {
  color: #361b11;
}

.dropDd li:hover .appetizers {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.maincourses {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -67.5px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.dropDd .maincourses li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.maincourses li:hover {
  color: #361b11;
}

.dropDd li:hover .maincourses {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.salads {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -134.5px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.dropDd .salads li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.salads li:hover {
  color: #361b11;
}

.dropDd li:hover .salads {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.soups {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -201px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.dropDd .soups li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.soups li:hover {
  color: #361b11;
}

.dropDd li:hover .soups {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.alcohol {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -267.5px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.dropDd .alcohol li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.alcohol li:hover {
  color: #361b11;
}

.dropDd li:hover .alcohol {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.seafood {
  display: flex;
  flex-wrap: wrap;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: absolute;
  top: -334.5px;
  left: 100%;
  width: 589%;
  height: 400px;
  z-index: 101;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.dropDd .seafood li {
  display: flex;
  flex-wrap: wrap;
  top: 17.5px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  cursor: pointer;
}

.seafood li:hover {
  color: #361b11;
}

.dropDd li:hover .seafood {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.dropMm {
  display: flex;
  flex-direction: column;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: relative;
  top: 16px;
  left: -120%;
  width: 320%;
  height: 400px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.dropMm li {
  font-size: 20px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  display: flex;
}

.nab-links li:hover .dropMm {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}

.dropLl {
  display: flex;
  flex-direction: column;
  background-color: #b06621;
  border: 1px solid #21262c;
  position: relative;
  top: 16px;
  left: -10%;
  width: 100%;
  height: 400px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}

.dropLl li {
  top: 10px;
  left: -10%;
  font-size: 20px;
  margin: 0;
  color: #fff;
  width: fit-content;
  padding: 18px;
  display: flex;
}

.nab-links li:hover .dropLl {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}

/*dropd*/
/* 
.dropDd {
  display: flex;
  flex-direction: column;
  position:absolute;
  justify-content: center;
  background-color: #B06621;
  border: 1px solid #343F4F;
  width: 472.5%;
  height: 1480%;
  z-index: 100;
  visibility: hidden;
  opacity:1;
  left: -132.5%;
  top: 45px;
  overflow: scroll;
  
}

.dropDd li {

  width:75px;
  height: 20px;
}

.nab-links li:hover .dropDd {
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  
 
}

.nab-links .dropDd a:hover {
  background-color: #ddd;
  border-radius: 4px;
}


  
.dimenu .nab-links .dropDd li {
  display: flex;
  position: relative;
  top: 10px;
  font-size: 14px;
  border: none;
  padding: 20px 10px;
  margin: 5px;
  
 
}
.dimenu .nab-links .dropDd a {
  display: flex;
  
  position: relative;
  top: 10px;
  width: 100%;
  font-size: 14px;
  border: none;
  padding: 20px 10px;
  
 
} */

/*appetizers*/

/* .appetizers{
  display: flex;
  flex-direction: row;
  position:absolute;
  justify-content: center;
  background-color: #B06621;
  border: 1px solid #343F4F;
  width: 180%;
  height: 100%;
  left: 100px;
  top: -50px;
  z-index: 103;
  width: 1250%;
  height: 1000%;
}

.appetizers li {
  width: 100px;
}

.nab-links .dropDd li:hover .appetizers li:hover {

  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  

}
.appe {
  display: flex;
  flex-direction: column;
  left: 60px;
  position: relative;
}

.nab-links .dropDd .appetizers a {

 font-size: 12px;

}

.nab-links .dropDd .appetizers li {

  left: -60px;
  margin-right: 40px;
  margin-bottom: 15px;
} */

/* .nab-links .dropDd li:hover .appetizers  {
  display: flex;
  position: relative;
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  
} */

/*maincourses*/

/* .maincourses {

  width: 1000%;
  height: 1000% ;
}

.nab-links .dropDd .maincourses {

  display: flex;
  flex-direction: column;
  position:absolute;
  justify-content: center;
  background-color: #B06621;
  border: 1px solid #343F4F;
  width: 475%;
  height: 1500%;
  z-index: 104;
  visibility: hidden;
  display: none;
  opacity:0;
  
  
}

.maincourses li {

  position:relative;
  left: 40%;
}

.nab-links .dropDd li:hover .maincourses {
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  display: contents;
  background-color:#B06621;
  border-radius: 4px;
 
}


/*salads*/

/* .nab-links .dropDd .salads {
  visibility: hidden;
  display: none;
  opacity:0;

  
  
}


.nab-links .dropDd li:hover .salads {
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  display: contents;
} */

/*soups*/

/* .nab-links .dropDd .soups  {
  visibility: hidden;
  display: none;
  opacity:0;

  
  
}


.nab-links .dropDd li:hover .soups {
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  display: contents;
} */

/*desserts*/

/* .nab-links .dropDd .desserts {
  visibility: hidden;
  display: none;
  opacity:0;

  
  
}


.nab-links .dropDd li:hover .desserts {
  visibility: visible;
  opacity:1;
  transition: all 0.5s ease;
  display: contents;
} */

/*beverages*/

.nab-links .dropDd .beverages {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.nab-links .dropDd li:hover .beverages {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  display: contents;
}

@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }

  .megaMenu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .dimenu {
    display: none;
  }

  .menu {
    width: 65%;
  }
}
